.imgaeProduct{
    width: 60px;
    height: 80px;
    border-radius: 0px;
    object-fit: cover;
}
.bg_image{
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 40px;
    
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #007bff36;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}